<% include header %>
<body>
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
		<div class="panel panel-default">
        	<div class="panel-heading">
           		帳戶名單
            </div>
             <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>帳號</th>
                                <th>密碼</th>
                                <th>名稱</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                    <tbody>
                    <% member.forEach(function (mv) { %>
                        <tr>
                            <td><%= mv.account %></td>
                            <td><%= mv.password %></td>
                            <td><%= mv.name %></td>
                            <td><%= mv.id %></td>
                        </tr>
                	<%
        			})
        			%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% include footer %>